/* Stylisation des boutons */
.button, .custom-split-menu-button, .split-menu-button {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-family: 'Arial';
    -fx-font-size: 14px;
}

.button:hover, .custom-split-menu-button:hover, .split-menu-button:hover {
    -fx-background-color: #ccaf2e;
}


/* Stylisation des MenuItems */
.menu-item {
    -fx-font-size: 14px;
    -fx-padding: 8px 20px; /* Ajustement du padding */
    -fx-text-fill: #ffffff; /* Couleur du texte */
    -fx-background-color: #2c2c2c; /* Couleur de fond par défaut */
    -fx-alignment: center-left; /* Alignement vertical du texte */
}

.menu-item:hover {
    -fx-background-color: #ccaf2e; /* Couleur de fond au survol */
}

.menu-item:pressed {
    -fx-background-color: rgba(204, 175, 46, 0.38); /* Couleur de fond lorsque cliqué */
}

/* Stylisation des autres éléments */
.scroll-pane {
    -fx-background-color: #02030A;
}


.increment-button, .decrement-button {
    -fx-background-color: black; /* Fond en noir */
    -fx-text-fill: white; /* Texte en blanc */
    -fx-border-color: transparent;
}
.scroll-bar:horizontal .track, .scroll-bar:vertical .track {
    -fx-background-color: black; /* Fond en noir */
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
    -fx-background-color: #10165F;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}

.mainStackPane {
    -fx-background-color: #e40914;
}

.custom-split-menu-button .arrow-button {
    -fx-background-color: black; /* Fond en noir */
    -fx-background-insets: 0;
    -fx-padding: 5;
    -fx-shape: "M0,0 h10 l-5,7z";
}


.menu-button .label {
    -fx-text-fill: white;
}
