.button
{
    -fx-background-color : #05071F;
    -fx-text-fill : #e7e5e5;
}
.button:hover{
    -fx-background-color : #10165F;
}
.button:pressed
{
    -fx-background-color : #1620A1;
}

.scroll-pane {
    -fx-background-color: #02030A;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #10165F;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}




.addProductCard {
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-background-color: rgba(0, 0, 0, 0.82);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 5, 5);
}

.userProductCard-btn {
    -fx-font-size: 17px;
    -fx-font-weight: 800;
    -fx-background-color: #ceb903;
    -fx-background-radius: 1000px;
    -fx-border-radius: 1000px;
    -fx-cursor: hand;
}
