.body{
    -fx-background-color: #000000;
}

.vbox{
    -fx-background-color:  #dee12b;
}

.label{
    -fx-text-fill: #fff;
}

.textfield{
    -fx-background-color: #fff;
}

.header{
    -fx-background-color: #fff;
    -fx-border-width: 5px;
    -fx-padding: 0 0 0 5px;
}
.btn{
    -fx-background-color: #dee12b;
}
.btn:hover{
    -fx-background-color: #00ff2f;
}